/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* HEADER */

header {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: stretch;
    background-color: #29a6dc;
    max-width: 1920px;
    overflow: hidden;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
}


header div.welcome {
    padding: 6% 5%;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}


header img {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
}




header div.welcome p {
    font-size: 100px;
    transform: translateX(-200%);
    animation: header 1s both;
}


header div.welcome h1 {
    margin-top: 6%;
    font-size: 42px;
    transform: translateX(-200%);
    animation: header 1s .2s both;
}

header div.welcome h2 {
    font-size: 40px;
    font-weight: normal;
    transform: translateX(-200%);
    animation: header 1s .3s both;
}

header div.welcome button {
    margin-top: 25%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 3% 3%;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 22px;
    border: 3px solid white;
    transform: translateX(-200%);
    animation: header 1s .5s both;
}

header div.welcome button:hover {
    background-color: #fff;
    color: #29a6dc;
}

@keyframes header {
    100% {
        transform: translateX(0%)
    }
}

@media (min-width: 1920px) {
    header div.welcome {
        width: 40%;
    }

    header img {
        transform: scale(0.9);
        top: 0;
        right: 0;
    }
}



/* Sekcja 1 - O MNIE */


.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1600px;
    padding: 2%;
    text-align: center;
}

.me h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.wrap {
    min-width: 600px;
    text-align: center;
    width: 80vw;
    padding: 0 5%;
    margin: 0 auto;
    border-left: black 2px solid;
    border-right: black 2px solid;
    line-height: 5vh;
}

.me p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.1;
    margin-bottom: 10px;
    color: #000;
}


/* Sekcja 2 - UMIEJĘTNOŚCI */

.skills {
    max-width: 1600px;
    padding: 2%;
    text-align: center;
}

.skills h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.skills p {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 15px;
}

.skills p span {
    color: rgb(230, 195, 0);
}

.skills div.secondary p {
    font-size: 14px;
}


/* Sekcja 3 - JĘZYKI */

.languages {
    max-width: 1600px;
    padding: 2%;
    text-align: center;
    margin-bottom: 30px;
}

.languages h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.languages p {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 15px;
}

.languages p span {
    color: rgb(230, 195, 0);
}


/* Sekcja 4 - HOBBY */


.hobby {
    width: 100%;
    float: left;
    max-width: 1920px;
    margin: 0;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/omnie1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/omnie2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/omnie3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/omnie4.jpg);
}


.hobby .item p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1 {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (min-width:533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width:768px) {

    .hobby h1 {
        font-size: 36px;

    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 101%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }

}

/* Sekcja 5 - EDUKACJA */

.schools {
    float: left;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    padding: 10px 0 30px;
    width: 100%;

}

.schools h1 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 30px 20px;
}

/* .schools .web img {
    width: 100%;
    height: 50vh;
  } */

.schools .school {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    padding: 20px 20px 20px 0;
    text-align: center;
    height: 30vh;
}

.schools .school h2 {
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 14px;
    /* text-indent: 20px; */
}

.schools .school p {
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

.schools .education {
    top: 0;
    left: 0;
    float: left;
    width: 50%;
    max-width: 1600px;
    background-color: #29a6dc;
}

.schools .education:nth-of-type(odd) {
    background-color: #ff4f2c;
}

/* .schools .education:nth-of-type(even) {
    background-color: #29a6dc;
} */




/* Sekcja 6 - DOŚWIADCZENIE */

.experiences {
    float: left;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: white;
    padding: 10px 0 30px;
    width: 100%;

}

.experiences h1 {
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 30px 20px;
}

/* .experiences .web img {
    width: 100%;
    height: 50vh;
  } */

.experiences .work {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    padding: 20px 20px 20px 0;
    text-align: center;
    height: 30vh;
}

.experiences .work h2 {
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 14px;
    /* text-indent: 20px; */
}

.experiences .work p {
    text-align: center;
    font-size: 12px;
    padding: 20px;
}

.experiences .experience {
    top: 0;
    left: 0;
    float: left;
    width: 50%;
    max-width: 1600px;
    background-color: #29a6dc;
}

.experiences .experience:nth-of-type(odd) {
    background-color: #ff4f2c;
}

/* .schools .education:nth-of-type(even) {
    background-color: #29a6dc;
} */

/* ZROBIĆ SEKCJE TAK JAK W STARYM PROJEKCIE */


/* .experiences {
    margin-top: 15%;
    height: 50vh;
    float: left;
    width: 50%;
}

.experiences h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
}

.experiences ul {
    top: 0;
    left: 0;
    list-style: none;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.experiences ul>li {
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 50%;
    padding: 0 30px;
}

.experiences ul>li:nth-child(1) {
    text-align: right;
    border-right: black solid 4px;
    transform: translate(0, 20%);
    height: 50vh;
    padding-left: 80px;
    padding-bottom: 400px;
    background-image: url(../images/arcpol.jpg);
    background-repeat: no-repeat;
    background-position-x: 400px;
    background-position-y: 220px;
    background-size: 300px;

}

.experiences ul>li:nth-last-of-type(1) {
    transform: translate(100%, -110%);
    text-align: left;
    padding-right: 80px;
    padding-bottom: 100px;
    height: 300px;
    background-image: url(../images/maspex.jpg);
    background-repeat: no-repeat;
    background-position-x: 60px;
    background-position-y: 170px;
    background-size: 300px;
}

.experiences ul>li h2 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 20px;
}

.experiences ul>li h3 h4 p {
    font-size: 14px;

} */



/* Sekcja contact */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* float: left; */
    width: 100%;
    background-color: #000;
    padding: 30px 30px;
}

.contact h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 45px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.contact .wrap {
    padding-top: 20px;
    min-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    padding: 5px;
}

.contact input {
    height: 46px;
    font-size: 20px;

}

.contact textarea {
    height: 180px;
    font-size: 20px;
}

.contact button {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    line-height: 50px;
    transition: .3s;
    cursor: pointer;
}

.contact .socials {
    padding-top: 30px;
    font-size: 0;
}

.contact .social {
    padding: 20px 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.contact .social img {
    float: left;

}

.contact .social span {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    font-size: 20px;
}

.contact form,
.contact .socials {
    float: left;
    width: 50%;
    padding: 0 5px
}

.contact button:hover {
    color: black;
    background-color: #fff;
}

.status_ok {
    color: #060
}

.status_err {
    color: #F00
}

.sendBtn {
    background-color: #000;
    color: white;
}

.sendBtn:hover {
    background-color: #fff;
    color: black;
    border: none;
}

fieldset {
    border: none;
}

.contact p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* Stopka */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* float: left; */
    width: 100%;
    background-color: #29a6dc;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}