/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* HEADER */

header {
    display: flex;
    flex-direction: row;
    height: 100vh;
    align-items: stretch;
    background-color: #29a6dc;
    max-width: 1920px;
    overflow: hidden;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
}


header div.welcome {
    padding: 6% 5%;
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}


header img {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
}


header div.welcome p {
    font-size: 100px;
    transform: translateX(-200%);
    animation: header 1s both;
}


header div.welcome h1 {
    margin-top: 6%;
    font-size: 42px;
    transform: translateX(-200%);
    animation: header 1s .2s both;
}

header div.welcome h2 {
    font-size: 40px;
    font-weight: normal;
    transform: translateX(-200%);
    animation: header 1s .3s both;
}

header div.welcome button {
    margin-top: 25%;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    line-height: 32px;
    padding: 3% 3%;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 22px;
    border: 3px solid white;
    transform: translateX(-200%);
    animation: header 1s .5s both;
}

header div.welcome button:hover {
    background-color: #fff;
    color: #29a6dc;
}

@keyframes header {
    100% {
        transform: translateX(0%)
    }
}

@media (min-width: 1920px) {
    header div.welcome {
        width: 40%;
    }

    header img {
        transform: scale(0.9);
        top: 0;
        right: 0;
    }
}



/* Sekcja 1 - O MNIE */


.me {
    float: left;
    max-width: 1600px;
    padding: 2%;
    text-align: center;
    background-color: #fff;
}

.me h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.wrap {
    min-width: 600px;
    text-align: center;
    width: 90%;
    padding: 0 5%;
    margin: 0 auto;
    border-left: black 2px solid;
    border-right: black 2px solid;
    line-height: 5vh;
}

.me p {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.1;
    margin-bottom: 10px;
    color: #000;
}


/* Sekcja 2 - UMIEJĘTNOŚCI */

.skills {
    float: left;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    text-align: center;
    background-color: #fff;
}

.skills h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.skills p {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 15px;
}

.skills p span {
    color: rgb(230, 195, 0);
}

.skills div.secondary p {
    font-size: 14px;
}


/* Sekcja 3 - JĘZYKI */

.languages {
    float: left;
    width: 100%;
    max-width: 1600px;
    padding: 2%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    background-color: #fff;
}

.languages h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
}

.languages p {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 15px;
}

.languages p span {
    color: rgb(230, 195, 0);
}


/* Sekcja 4 - HOBBY */


.hobby {
    width: 100%;
    float: left;
    max-width: 1920px;
    margin: 0;
    background-color: #fff;
}

.hobby .item {
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/omnie1.jpg);
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/omnie2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/omnie3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/omnie4.jpg);
}


.hobby .item p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1 {
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
}

@media (min-width:533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width:768px) {

    .hobby h1 {
        font-size: 36px;

    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;
    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 101%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }

}

/* Sekcja 5 - EDUKACJA I DOŚWIADCZENIE */

.past {
    float: left;
    top: 0;
    left: 0;
    margin: 0 auto 20px;
    background-color: white;
    padding: 10px 0;
    width: 100%;
}


.past h1 {
    float: left;
    width: 100%;
    font-size: 36px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: black;
    text-align: center;
    padding: 20px;
}

.past h1:nth-last-of-type(1) {
    float: left;
    padding-top: 20px;
}

.education,
.work {
    top: 0;
    left: 0;
    float: left;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    height: 250px;
    width: 48%;
    margin: 0 1%;
    max-width: 1600px;
    background-color: #29a6dc;
    transition: .4s;
}

.education:hover,
.work:hover {
    background-color: #1f31d1;
}

.education h2,
.work h2 {
    text-align: center;
    font-size: 18px;
    border-bottom: 2px solid white;
    padding: 20px;
}

.education h3,
.work h3 {
    text-align: center;
    font-size: 18px;
    padding: 20px;
}

.education p,
.work p {
    text-align: center;
    font-size: 12px;
    padding: 20px;
}




/* Sekcja 6 - KONTAKT */

.contact {
    float: left;
    width: 100%;
    background-color: #000;
    padding-top: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.contact h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.contactWrap {
    display: flex;
}

#my-form {
    width: 40%;
    margin-left: 80px;
}

#my-form input,
#my-form button,
textarea {
    width: 100%;
    margin-bottom: 25px;
    font-size: 20px;
    padding: 10px 0;
}


#textarea {
    float: left;
    font-family: 'Raleway', sans-serif;
    height: 250px;
    padding: 10px;
}

#my-form>input {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 8px;
    padding: 10px;
}

#my-form button {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 44px;
    background-color: black;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
    transition: .3s;
    cursor: pointer;

}

#my-form button:hover {
    color: black;
    background-color: #fff;
}

#my-form p {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 44px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    transform: translateY(-20px);
}


.socials {
    float: left;
    padding-top: 30px;
    font-size: 20px;
    width: 50%;
}

.social {
    padding: 20px 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    display: block;
    width: 50%;
    margin: 0 auto;
    font-size: 55px;
}

.social img {
    float: left;
    width: 100px;

}

.social span {
    line-height: 72px;
    padding-left: 20px;
    font-size: 30px;
}

/* @media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .contact h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact input,
    .contact button,
    .contact textarea {
        margin-bottom: 35px;

    }

    .contact input {

        height: 46px;
        font-size: 24px;

    }

    .contact textarea {
        height: 180px;
        font-size: 24px;
    }

    .contact button {
        font-size: 20px;
        line-height: 50px;
        transition: .3s;
        cursor: pointer;

    }

    .contact button:hover {
        color: black;
        background-color: #fff;
    }
} */

/* Stopka */

footer {
    float: left;
    width: 100%;
    background-color: #29a6dc;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}